body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
    text-align: center;
}

header {
    padding: 1rem 0.1rem;
}

.hero {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2rem 2rem 4rem rgba(0,0,0,0.7);
}

nav {
    background: #222;
    padding: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}

.container {
    padding: 1rem 1rem;
}

.card {
    background: #333;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 70rem;
    border-radius: 1rem;
    box-shadow: 0 0 10rem rgba(255,255,255,0.2);
}

footer {
    background: #222;
    padding: 2rem;
    margin-top: 4rem;
}